.list {
   margin-top: 3rem;
   .row {
      button {
         background: #fff;
         color: blue;
         &.active {
            background-color: #1b4df1;
            color: #fff;
         }
      }
   }
}