.app {
   .container {
      .input-area {
         form {
            input {
               height: 46px;
               &:focus {
                  border-color: #80008067;
                  box-shadow: none;
               }
            }
         }
         .btns {
            .btn-update {
               margin-left: 5px;
            }
         }
      }
   }
}